$font-main: 'Montserrat',
sans-serif;
$color-text-main: #444444;
$color-blue: #4686BF;
$color-marine:#29A7C8;
$color-light-blue: #CCEAFF;
$color-title: #577189;
$color-white: #F4F2F4;
$color-light-grey: #AEB3BA;
$transition-speed: all 0.5s ease-in-out;
// Старые
$green: #4CC359;
$purple: #5955A2;
$orange: #FF9330;
$yellow: #F8CF47;
$blue: #47CEF8;
$red: #FF4768;
$light-green: #31C7AC;
$brown: #B67F59;
$light-red: #DE6F6F;
$pink: #FF8CF4;