<section class="block order-bottom">

    <h2><span>оставить заявку</span></h2>
    <div class="container">

        <div class="text-align">
            <p>Вы можете арендовать лёд онлайн. Для этого заполните форму, указажите предпочтительную дату и время и наш менеджер свяжется с вами в ближайшее время.</p>
        </div>

        <form class="order-bottom__form" action="">
            <div class="order-bottom__form-wrap">
                <label>
                    <span>Ваше имя*</span>
                    <input class="input" type="text" placeholder="Ваше имя">
                </label>
                <label>
                    <span>Ваш телефон*</span>
                    <input class="input" type="tel" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
                </label>
                <label>
                    <span>Email*</span>
                    <input class="input" type="email" placeholder="">
                </label>
                <label>
                    <span>Дата*</span>
                    <input class="date" class="input" type="text" placeholder="">
                </label>
                <label>
                    <span>Время*</span>
                    <input class="date" class="input" type="text" placeholder="">
                </label>

                <p class="order-bottom__licenses">
                    <input type="checkbox" checked> <span>Даю своё согласие на <a href="" target="_blank"> обработку и использование своих персональных данных.</a></span></p>
                <button type="submit" class="button button__black" data-fancybox data-src="#popup-modal-ok">
                    
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>


                    <span class="button__text">
                        Отправить заявку
                    </span>
                    </button>
            </div>

        </form>
    </div>
    <canvas id="canvasForm" data-bg="./img/form-bg.png"></canvas>
</section>