<section class="block timetable block-link">
    <h2><span>Расписание</span></h2>
    <div class="container">
        <div class="timetable__legend">
            <ul class="timetable__legend-list">
                <li class="timetable__item" data-class="mass">
                    <span class="timetable__color" style="background-color: #4CC359;">

                    </span>
                    <span class="timetsble__name">
                        Свободное катание
                    </span>
                </li>

                <li class="timetable__item" data-class="hockey">
                    <span class="timetable__color" style="background-color: #5955A2;">

                    </span>
                    <span class="timetsble__name">
                        Секция хоккея
                    </span>
                </li>
                <li class="timetable__item " data-class="renter">
                    <span class="timetable__color" style="background-color: #FF9330;">

                    </span>
                    <span class="timetsble__name">
                        Аренда льда
                    </span>
                </li>
                <li class="timetable__item " data-class="renterhockey">
                    <span class="timetable__color" style="background-color: #F8CF47">

                    </span>
                    <span class="timetsble__name">
                        Группа хоккея
                    </span>
                </li>

                <li class="timetable__item " data-class="figure">
                    <span class="timetable__color" style="background-color: #47CEF8">

                    </span>
                    <span class="timetsble__name">
                        Фигурное катание
                    </span>
                </li>
                <li class="timetable__item renterfigure" data-class="renterfigure">
                    <span class="timetable__color" style="background-color: #FF4768">

                    </span>
                    <span class="timetsble__name">
                        Секция фигуристов
                    </span>
                </li>
            </ul>

            <a class="timetable__excel" href=""><span>Расписание на июль.exl</span> <span class="timetable__weight">50 Kb</span></a>
        </div>



        <ul class="accordion timetable__list">
            <li class="accordion__item timetable__list-item">
                <h5 class="accordion__title timetable__title">
                    <div>
                        <span class="timetable__weekday">Понедельник</span>
                        <span class="timetable__time">19.07.2021</span>
                    </div>


                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.62432 0.554579L15.7444 7.67478C15.9092 7.83946 16 8.0593 16 8.2937C16 8.52811 15.9092 8.74794 15.7444 8.91262L15.2202 9.43698C14.8786 9.77818 14.3234 9.77818 13.9823 9.43698L8.00332 3.45797L2.01767 9.44361C1.85286 9.60829 1.63316 9.69922 1.39888 9.69922C1.16435 9.69922 0.944641 9.60829 0.779699 9.44361L0.255606 8.91926C0.0907946 8.75445 -1.89346e-06 8.53474 -1.89067e-06 8.30034C-1.88787e-06 8.06593 0.0907946 7.8461 0.255606 7.68141L7.38218 0.554579C7.54752 0.389507 7.76826 0.298841 8.00293 0.299361C8.2385 0.298841 8.45912 0.389507 8.62432 0.554579Z" fill="#4686BF"/>
                    </svg>

                </h5>

                <section class="timetable__info accordion__info">

                    <div class="accordion__info-wrap">
                        <ul class="timetable__smalllist">
                            <li class="timetable__smalllist-item renterhockey">
                                <span class="timetable__label" style="background-color: #F8CF47;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа хоккея №4</h6>
                            </li>
                            <li class="timetable__smalllist-item mass">
                                <span class="timetable__label" style="background-color: #4CC359;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Свободное катание</h6>
                            </li>
                            <li class="timetable__smalllist-item figure">
                                <span class="timetable__label" style="background-color: #47CEF8;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа фигурного катания №4</h6>
                            </li>
                            <li class="timetable__smalllist-item hockey">
                                <span class="timetable__label" style="background-color: #5955A2;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Хоккей №4</h6>
                            </li>
                            <li class="timetable__smalllist-item renter">
                                <span class="timetable__label" style="background-color: #FF9330;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Аренда льда</h6>
                            </li>
                            <li class="timetable__smalllist-item renterfigure">
                                <span class="timetable__label" style="background-color: #FF4768;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Тренировка фигуристов</h6>
                            </li>

                        </ul>
                    </div>
                </section>
            </li>
            <li class="accordion__item timetable__list-item">
                <h5 class="accordion__title timetable__title">
                    <div>
                        <span class="timetable__weekday">Вторник</span>
                        <span class="timetable__time">19.07.2021</span>
                    </div>


                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.62432 0.554579L15.7444 7.67478C15.9092 7.83946 16 8.0593 16 8.2937C16 8.52811 15.9092 8.74794 15.7444 8.91262L15.2202 9.43698C14.8786 9.77818 14.3234 9.77818 13.9823 9.43698L8.00332 3.45797L2.01767 9.44361C1.85286 9.60829 1.63316 9.69922 1.39888 9.69922C1.16435 9.69922 0.944641 9.60829 0.779699 9.44361L0.255606 8.91926C0.0907946 8.75445 -1.89346e-06 8.53474 -1.89067e-06 8.30034C-1.88787e-06 8.06593 0.0907946 7.8461 0.255606 7.68141L7.38218 0.554579C7.54752 0.389507 7.76826 0.298841 8.00293 0.299361C8.2385 0.298841 8.45912 0.389507 8.62432 0.554579Z" fill="#4686BF"/>
                    </svg>

                </h5>

                <section class="timetable__info accordion__info">

                    <div class="accordion__info-wrap">
                        <ul class="timetable__smalllist">
                            <li class="timetable__smalllist-item renterhockey">
                                <span class="timetable__label" style="background-color: #F8CF47;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа хоккея №4</h6>
                            </li>
                            <li class="timetable__smalllist-item mass">
                                <span class="timetable__label" style="background-color: #4CC359;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Свободное катание</h6>
                            </li>
                            <li class="timetable__smalllist-item figure">
                                <span class="timetable__label" style="background-color: #47CEF8;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа фигурного катания №4</h6>
                            </li>
                            <li class="timetable__smalllist-item hockey">
                                <span class="timetable__label" style="background-color: #5955A2;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Хоккей №4</h6>
                            </li>
                            <li class="timetable__smalllist-item renter">
                                <span class="timetable__label" style="background-color: #FF9330;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Аренда льда</h6>
                            </li>
                            <li class="timetable__smalllist-item renterfigure">
                                <span class="timetable__label" style="background-color: #FF4768;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Тренировка фигуристов</h6>
                            </li>

                        </ul>
                    </div>
                </section>
            </li>
            <li class="accordion__item timetable__list-item">
                <h5 class="accordion__title timetable__title">
                    <div>
                        <span class="timetable__weekday">Среда</span>
                        <span class="timetable__time">19.07.2021</span>
                    </div>


                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.62432 0.554579L15.7444 7.67478C15.9092 7.83946 16 8.0593 16 8.2937C16 8.52811 15.9092 8.74794 15.7444 8.91262L15.2202 9.43698C14.8786 9.77818 14.3234 9.77818 13.9823 9.43698L8.00332 3.45797L2.01767 9.44361C1.85286 9.60829 1.63316 9.69922 1.39888 9.69922C1.16435 9.69922 0.944641 9.60829 0.779699 9.44361L0.255606 8.91926C0.0907946 8.75445 -1.89346e-06 8.53474 -1.89067e-06 8.30034C-1.88787e-06 8.06593 0.0907946 7.8461 0.255606 7.68141L7.38218 0.554579C7.54752 0.389507 7.76826 0.298841 8.00293 0.299361C8.2385 0.298841 8.45912 0.389507 8.62432 0.554579Z" fill="#4686BF"/>
                    </svg>

                </h5>

                <section class="timetable__info accordion__info">

                    <div class="accordion__info-wrap">
                        <ul class="timetable__smalllist">
                            <li class="timetable__smalllist-item renterhockey">
                                <span class="timetable__label" style="background-color: #F8CF47;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа хоккея №4</h6>
                            </li>
                            <li class="timetable__smalllist-item mass">
                                <span class="timetable__label" style="background-color: #4CC359;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Свободное катание</h6>
                            </li>
                            <li class="timetable__smalllist-item figure">
                                <span class="timetable__label" style="background-color: #47CEF8;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа фигурного катания №4</h6>
                            </li>
                            <li class="timetable__smalllist-item hockey">
                                <span class="timetable__label" style="background-color: #5955A2;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Хоккей №4</h6>
                            </li>
                            <li class="timetable__smalllist-item renter">
                                <span class="timetable__label" style="background-color: #FF9330;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Аренда льда</h6>
                            </li>
                            <li class="timetable__smalllist-item renterfigure">
                                <span class="timetable__label" style="background-color: #FF4768;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Тренировка фигуристов</h6>
                            </li>

                        </ul>
                    </div>
                </section>
            </li>
            <li class="accordion__item timetable__list-item">
                <h5 class="accordion__title timetable__title">
                    <div>
                        <span class="timetable__weekday">Четверг</span>
                        <span class="timetable__time">19.07.2021</span>
                    </div>


                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.62432 0.554579L15.7444 7.67478C15.9092 7.83946 16 8.0593 16 8.2937C16 8.52811 15.9092 8.74794 15.7444 8.91262L15.2202 9.43698C14.8786 9.77818 14.3234 9.77818 13.9823 9.43698L8.00332 3.45797L2.01767 9.44361C1.85286 9.60829 1.63316 9.69922 1.39888 9.69922C1.16435 9.69922 0.944641 9.60829 0.779699 9.44361L0.255606 8.91926C0.0907946 8.75445 -1.89346e-06 8.53474 -1.89067e-06 8.30034C-1.88787e-06 8.06593 0.0907946 7.8461 0.255606 7.68141L7.38218 0.554579C7.54752 0.389507 7.76826 0.298841 8.00293 0.299361C8.2385 0.298841 8.45912 0.389507 8.62432 0.554579Z" fill="#4686BF"/>
                    </svg>

                </h5>

                <section class="timetable__info accordion__info">

                    <div class="accordion__info-wrap">
                        <ul class="timetable__smalllist">
                            <li class="timetable__smalllist-item renterhockey">
                                <span class="timetable__label" style="background-color: #F8CF47;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа хоккея №4</h6>
                            </li>
                            <li class="timetable__smalllist-item mass">
                                <span class="timetable__label" style="background-color: #4CC359;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Свободное катание</h6>
                            </li>
                            <li class="timetable__smalllist-item figure">
                                <span class="timetable__label" style="background-color: #47CEF8;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа фигурного катания №4</h6>
                            </li>
                            <li class="timetable__smalllist-item hockey">
                                <span class="timetable__label" style="background-color: #5955A2;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Хоккей №4</h6>
                            </li>
                            <li class="timetable__smalllist-item renter">
                                <span class="timetable__label" style="background-color: #FF9330;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Аренда льда</h6>
                            </li>
                            <li class="timetable__smalllist-item renterfigure">
                                <span class="timetable__label" style="background-color: #FF4768;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Тренировка фигуристов</h6>
                            </li>

                        </ul>
                    </div>
                </section>
            </li>
            <li class="accordion__item timetable__list-item">
                <h5 class="accordion__title timetable__title">
                    <div>
                        <span class="timetable__weekday">Пятница</span>
                        <span class="timetable__time">19.07.2021</span>
                    </div>


                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.62432 0.554579L15.7444 7.67478C15.9092 7.83946 16 8.0593 16 8.2937C16 8.52811 15.9092 8.74794 15.7444 8.91262L15.2202 9.43698C14.8786 9.77818 14.3234 9.77818 13.9823 9.43698L8.00332 3.45797L2.01767 9.44361C1.85286 9.60829 1.63316 9.69922 1.39888 9.69922C1.16435 9.69922 0.944641 9.60829 0.779699 9.44361L0.255606 8.91926C0.0907946 8.75445 -1.89346e-06 8.53474 -1.89067e-06 8.30034C-1.88787e-06 8.06593 0.0907946 7.8461 0.255606 7.68141L7.38218 0.554579C7.54752 0.389507 7.76826 0.298841 8.00293 0.299361C8.2385 0.298841 8.45912 0.389507 8.62432 0.554579Z" fill="#4686BF"/>
                    </svg>

                </h5>

                <section class="timetable__info accordion__info">

                    <div class="accordion__info-wrap">
                        <ul class="timetable__smalllist">
                            <li class="timetable__smalllist-item renterhockey">
                                <span class="timetable__label" style="background-color: #F8CF47;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа хоккея №4</h6>
                            </li>
                            <li class="timetable__smalllist-item mass">
                                <span class="timetable__label" style="background-color: #4CC359;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Свободное катание</h6>
                            </li>
                            <li class="timetable__smalllist-item figure">
                                <span class="timetable__label" style="background-color: #47CEF8;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа фигурного катания №4</h6>
                            </li>
                            <li class="timetable__smalllist-item hockey">
                                <span class="timetable__label" style="background-color: #5955A2;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Хоккей №4</h6>
                            </li>
                            <li class="timetable__smalllist-item renter">
                                <span class="timetable__label" style="background-color: #FF9330;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Аренда льда</h6>
                            </li>
                            <li class="timetable__smalllist-item renterfigure">
                                <span class="timetable__label" style="background-color: #FF4768;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Тренировка фигуристов</h6>
                            </li>

                        </ul>
                    </div>
                </section>
            </li>
            <li class="accordion__item timetable__list-item">
                <h5 class="accordion__title timetable__title">
                    <div>
                        <span class="timetable__weekday">Суббота</span>
                        <span class="timetable__time">19.07.2021</span>
                    </div>


                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.62432 0.554579L15.7444 7.67478C15.9092 7.83946 16 8.0593 16 8.2937C16 8.52811 15.9092 8.74794 15.7444 8.91262L15.2202 9.43698C14.8786 9.77818 14.3234 9.77818 13.9823 9.43698L8.00332 3.45797L2.01767 9.44361C1.85286 9.60829 1.63316 9.69922 1.39888 9.69922C1.16435 9.69922 0.944641 9.60829 0.779699 9.44361L0.255606 8.91926C0.0907946 8.75445 -1.89346e-06 8.53474 -1.89067e-06 8.30034C-1.88787e-06 8.06593 0.0907946 7.8461 0.255606 7.68141L7.38218 0.554579C7.54752 0.389507 7.76826 0.298841 8.00293 0.299361C8.2385 0.298841 8.45912 0.389507 8.62432 0.554579Z" fill="#4686BF"/>
                    </svg>

                </h5>

                <section class="timetable__info accordion__info">

                    <div class="accordion__info-wrap">
                        <ul class="timetable__smalllist">
                            <li class="timetable__smalllist-item renterhockey">
                                <span class="timetable__label" style="background-color: #F8CF47;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа хоккея №4</h6>
                            </li>
                            <li class="timetable__smalllist-item mass">
                                <span class="timetable__label" style="background-color: #4CC359;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Свободное катание</h6>
                            </li>
                            <li class="timetable__smalllist-item figure">
                                <span class="timetable__label" style="background-color: #47CEF8;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа фигурного катания №4</h6>
                            </li>
                            <li class="timetable__smalllist-item hockey">
                                <span class="timetable__label" style="background-color: #5955A2;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Хоккей №4</h6>
                            </li>
                            <li class="timetable__smalllist-item renter">
                                <span class="timetable__label" style="background-color: #FF9330;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Аренда льда</h6>
                            </li>
                            <li class="timetable__smalllist-item renterfigure">
                                <span class="timetable__label" style="background-color: #FF4768;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Тренировка фигуристов</h6>
                            </li>

                        </ul>
                    </div>
                </section>
            </li>
            <li class="accordion__item timetable__list-item">
                <h5 class="accordion__title timetable__title">
                    <div>
                        <span class="timetable__weekday">Воскресенье</span>
                        <span class="timetable__time">19.07.2021</span>
                    </div>


                    <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.62432 0.554579L15.7444 7.67478C15.9092 7.83946 16 8.0593 16 8.2937C16 8.52811 15.9092 8.74794 15.7444 8.91262L15.2202 9.43698C14.8786 9.77818 14.3234 9.77818 13.9823 9.43698L8.00332 3.45797L2.01767 9.44361C1.85286 9.60829 1.63316 9.69922 1.39888 9.69922C1.16435 9.69922 0.944641 9.60829 0.779699 9.44361L0.255606 8.91926C0.0907946 8.75445 -1.89346e-06 8.53474 -1.89067e-06 8.30034C-1.88787e-06 8.06593 0.0907946 7.8461 0.255606 7.68141L7.38218 0.554579C7.54752 0.389507 7.76826 0.298841 8.00293 0.299361C8.2385 0.298841 8.45912 0.389507 8.62432 0.554579Z" fill="#4686BF"/>
                    </svg>

                </h5>

                <section class="timetable__info accordion__info">

                    <div class="accordion__info-wrap">
                        <ul class="timetable__smalllist">
                            <li class="timetable__smalllist-item renterhockey">
                                <span class="timetable__label" style="background-color: #F8CF47;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа хоккея №4</h6>
                            </li>
                            <li class="timetable__smalllist-item mass">
                                <span class="timetable__label" style="background-color: #4CC359;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Свободное катание</h6>
                            </li>
                            <li class="timetable__smalllist-item figure">
                                <span class="timetable__label" style="background-color: #47CEF8;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Группа фигурного катания №4</h6>
                            </li>
                            <li class="timetable__smalllist-item hockey">
                                <span class="timetable__label" style="background-color: #5955A2;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Хоккей №4</h6>
                            </li>
                            <li class="timetable__smalllist-item renter">
                                <span class="timetable__label" style="background-color: #FF9330;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Аренда льда</h6>
                            </li>
                            <li class="timetable__smalllist-item renterfigure">
                                <span class="timetable__label" style="background-color: #FF4768;"></span>
                                <a href="" class="timetable__link"></a>
                                <div class="timetable__time-wrap">
                                    <span>08:30</span>
                                    <span>09:30</span>
                                </div>
                                <h6 class="timetable__smalllist-title">Тренировка фигуристов</h6>
                            </li>

                        </ul>
                    </div>
                </section>
            </li>
        </ul>

        <button class="button" data-fancybox data-src="#popup-form-order">  <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>


        <span class="button__text">
            Оcтавить заявку
        </span></button>
    </div>
</section>