.breadcrumbs {
    @include list-destroy;
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    // flex-wrap: wrap;
    & li {
        position: relative;
        color: #fff;
        padding-right: 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        &:not(:first-child) {
            padding-left: 10px;
        }
        &:not(:last-child) {
            &::before {
                content: "";
                position: absolute;
                width: 6px;
                height: 10px;
                top: 5px;
                // transform: translateY(-5%);
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9L5 5L1 1' stroke='white'/%3E%3C/svg%3E%0A");
                right: 0;
            }
        }
        & span {
            font-weight: 300;
        }
        & a>span {
            font-weight: 500;
        }
    }
}

.inner .breadcrumbs {
    padding-top: 25px;
    @include tablets {
        padding-top: 30px;
    }
}